<div class="sidebar-toggle">
    <div class="sidebar-toggle-line-wrap">
        <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
        <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
        <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
    </div>
</div>
<aside id="sidebar" class="sidebar" style="margin-top: 302px; display: block;">
    <div class="sidebar-inner">
        {% block sidebar %}
        <section class="site-overview sidebar-panel sidebar-panel-active">
            <div class="site-author motion-element" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                <img class="site-author-image" itemprop="image" src="/res/sys/avatar.png" alt="geerniya">
                <p class="site-author-name" itemprop="name">熊叔の冒险屋</p>
                <p class="site-description motion-element" itemprop="description">わが征くは星の大海</p>
            </div>
            <nav class="site-state motion-element">
                <div class="site-state-item site-state-posts">
                    <a href="/admin" target='_blank'>
                        <span class="site-state-item-name">后台</span>
                    </a>
                </div>
                <div class="site-state-item site-state-categories">
                    <a href="/photo">
                        <span class="site-state-item-name">相册</span>
                    </a>
                </div>
            </nav>
            <div class="feed-link motion-element">
                <a href="{% url 'blog:rss' %}" rel="alternate">
                    <i class="fa fa-rss"></i>
                    RSS
                </a>
            </div>
            <div class="links-of-author motion-element">
                <span class="links-of-author-item">
                    <a href="https://github.com/itimor" target="_blank" title="GitHub">
                        <i class="fa fa-fw fa-github"></i>
                        GitHub
                    </a>
                </span>
                <span class="links-of-author-item">
                    <a href="https://www.jianshu.com/u/40758c9db703" target="_blank" title="简书">
                        <i class="fa fa-book"></i>
                        简书
                    </a>
                </span>
            </div>
            <div class="links-of-blogroll motion-element links-of-blogroll-inline">
                <div class="links-of-blogroll-title">
                    <i class="fa fa-link"></i>
                    友情链接
                </div>
                <ul class="links-of-blogroll-list">
                    <li class="links-of-blogroll-item">
                        <a href="https://pvp.qq.com/" title="荣耀" target="_blank">为了理想</a>
                    </li>
                    <li class="links-of-blogroll-item">
                        <a href="https://www.baidu.com/s?wd=%E5%A6%82%E4%BD%95%E8%BF%9B%E5%85%A5%E5%AF%8C%E5%A9%86%E7%9A%84%E5%86%85%E5%BF%83%E4%B8%96%E7%95%8C" title="梦想" target="_blank">一个追梦人</a>
                    </li>
                </ul>
            </div>
        </section>
        {% endblock %}
    </div>
</aside>
