        <footer id="footer" class="footer">
            <div class="footer-inner">
                <div class="copyright">
                     ©  2014 ~
                    <span id="endyear" itemprop="copyrightYear">2018</span>
                    <span class="with-love">
                        <i class="fa fa-heart" style="color: #fc6423"></i>
                    </span>
                    <span class="author" itemprop="copyrightHolder">熊叔</span>
                </div>
                <div class="powered-by">
                    天ICP备168168518号-8
                </div>
                <div class="theme-info">
                    Supported by <a href="https://www.youtiao.com/">今日油条</a>
                </div>
            </div>
        </footer>


    <script>
    (function(){
        var date=new Date;
        var year=date.getFullYear();
        document.getElementById('endyear').innerText = year;
    })();
    </script>