<header id="header" class="header" itemscope="" itemtype="http://schema.org/WPHeader">
    <div class="header-inner">
        <div class="site-meta ">
            <div class="custom-logo-site-title">
                <a href="/" class="brand" rel="start" style="opacity: 1;">
                    <span class="logo-line-before"><i></i></span>
                    <span class="site-title" style="opacity: 1; top: 0px;">熊叔の冒险屋</span>
                    <span class="logo-line-after"><i></i></span>
                </a>
            </div>
            <p class="site-subtitle">我的征途是星辰大海</p>
        </div>
        <div class="site-nav-toggle">
            <button>
                <span class="btn-bar"></span>
                <span class="btn-bar"></span>
                <span class="btn-bar"></span>
            </button>
        </div>
        <nav class="site-nav">
            <ul id="menu" class="menu">
                <li
                        {% if request.path == '/' %}
                class="menu-item menu-item-home menu-item-active"
                {% else %}
                class="menu-item menu-item-active"
                {% endif %}
                style="opacity: 1; transform: translateY(0px);">
                <a href="{% url 'blog:index' %}" rel="section">
                    <i class="menu-item-icon fa fa-fw fa-home"></i> <br>
                    首页
                </a>
                </li>
                <li
                        {% if request.path|slice:"8" == '/archives' %}
                class="menu-item menu-item-home menu-item-active"
                {% else %}
                class="menu-item menu-item-active"
                {% endif %}
                style="opacity: 1; transform: translateY(0px);">
                <a href="{% url 'blog:archives' %}" rel="section">
                    <i class="menu-item-icon fa fa-fw fa-archive"></i> <br>
                    归档
                </a>
                </li>
                <li
                        {% if request.path|slice:"5" == '/categorys' %}
                class="menu-item menu-item-home menu-item-active"
                {% else %}
                class="menu-item menu-item-active"
                {% endif %}
                style="opacity: 1; transform: translateY(0px);">
                <a href="{% url 'blog:categorys' %}" rel="section">
                    <i class="menu-item-icon fa fa-fw fa-folder-o"></i> <br>
                    分类
                </a>
                </li>
                <li
                        {% if request.path|slice:"8" == '/tags' %}
                class="menu-item menu-item-home menu-item-active"
                {% else %}
                class="menu-item menu-item-active"
                {% endif %}
                style="opacity: 1; transform: translateY(0px);">
                <a href="{% url 'blog:tags' %}" rel="section">
                    <i class="menu-item-icon fa fa-fw fa-tag"></i> <br>
                    标签
                </a>
                </li>
                <li class="menu-item menu-item-archives" style="opacity: 1; transform: translateY(0px);">
                    <a href="/#search" id="search" rel="section">
                        <i class="menu-item-icon fa fa-search"></i>
                    </a>
                    <form action="{% url 'blog:search' %}">
                        <input id="unit" type="search" name="q" placeholder="搜索...">
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>