<div class="pagination">
    <!--分页展示-->
    <nav class="pagination">
        <div class="pageturn">
            <ul class="pagelist">
                {% if page_data.has_previous %}
                <li class="long"><a href="?{{ previous_page_number.querystring }}">上一页</a></li>
                {% endif %}
                {% for page in page_data.pages %}
                {% if page %}
                {% ifequal page page_data.number %}
                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                {% else %}
                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
                {% else %}
                <li class="none"><a href="">...</a></li>
                {% endif %}
                {% endfor %}
                {% if page_data.has_next %}
                <li class="long"><a href="?{{ next_page_number.querystring }}">下一页</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>