{% extends "layout/base.html" %}
{% load custom_markdown %}
{% block title %}
| {{ post.title }}
{% endblock %}

{% block sidebar %}
<div class="post-toc">
    <h5>文章目录</h5>
    {{ blog.toc|safe }}
</div>
{% endblock %}

{% block content %}

<div class="content-wrap">
    <div id="content" class="content">
        <div id="posts" class="posts-expand">
            <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">

            <header class="post-header">

                <h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>

                <div class="post-meta">
                    <span class="post-time">
                        <span class="post-meta-item-icon">
                            <i class="fa fa-calendar-o"></i>
                        </span>
                        <span class="post-meta-item-text">发表于</span>
                        <time title="Post created" itemprop="dateCreated datePublished" datetime="#">
                            {{ post.create_time|date:"Y-m-d" }}
                        </time>
                  </span>

                    <span class="post-category">

                        <span class="post-meta-divider">|</span>
                        <span class="post-meta-item-icon">
                            <i class="fa fa-folder-o"></i>
                        </span>
                        <span class="post-meta-item-text">分类于</span>
                        <span itemprop="about" itemscope="" itemtype="http://schema.org/Thing">
                            <a href="{% url 'blog:category-detail' post.category.slug %}" itemprop="url" rel="index">
                                <span itemprop="name">{{ post.category.name }}</span>
                            </a>
                        </span>
                    </span>
                {% if post.allow_comments %}
                    <span class="post-comments-count">
                        <span class="post-meta-divider">|</span>
                        <span class="post-meta-item-icon">
                            <i class="fa fa-comment-o"></i>
                        </span>
                        <a class="cloud-tie-join-count" href="#comment" itemprop="discussionUrl">
                            <span class="post-comments-count join-count" itemprop="commentCount"></span>
                        </a>
                    </span>
                {% endif %}
                </div>
            </header>

            <div class="post-body" itemprop="articleBody">
                {{ post.content|safe }}
            </div>


            <div>
                <div style="padding: 10px 0; margin: 10px auto; width: 90%; text-align: center;">
<!--                <div>觉得不错，支持一下！</div>-->
<!--                <button id="rewardButton" disable="enable" onclick="var qr = document.getElementById(&#39;QR&#39;); if (qr.style.display === &#39;none&#39;) {qr.style.display=&#39;block&#39;;} else {qr.style.display=&#39;none&#39;}">-->
<!--                <span>👍</span>-->
<!--                </button>-->
<!--                    <div id="QR" style="display: none;">-->
<!--                        <div id="wechat" style="display: inline-block">-->
<!--                          <a href="/static/image/weixin.jpg" class="fancybox" rel="group"><img id="wechat_qr" src="/static/image/weixin.jpg" alt="geerniya WeChat Pay"></a>-->
<!--                          <p>微信打赏</p>-->
<!--                        </div>-->
<!--                        <div id="alipay" style="display: inline-block">-->
<!--                          <a href="/static/image/zhifubao.jpg" class="fancybox" rel="group"><img id="alipay_qr" src="/static/image/zhifubao.jpg" alt="geerniya Alipay"></a>-->
<!--                          <p>支付宝打赏</p>-->
<!--                        </div>-->
<!--                    </div>-->
            </div>
            </div>

            <footer class="post-footer">

                <div class="post-tags">
                    {% for tag in post.tags.all %}
                    <a href="{% url 'blog:tag-detail' tag.id %}" class="tag">{{tag.name}}</a>
                    {% empty %}
                    <a class="tag">未设置标签</a>
                    {% endfor %}
                </div>

                <div class="post-nav">
                    <div class="post-nav-next post-nav-item">
                        {% if prev_post %}
                        <a href="{% url 'blog:blog-detail' prev_post.slug %}" rel="prev" title="{{ prev_post.title }}">
                            <i class="fa fa-chevron-left"></i> {{ prev_post.title }}
                        </a>
                        {% else %}
                        <a href="#"><span>拜托！泥垢了</span></a>
                        {% endif %}
                    </div>

                    <span class="post-nav-divider"></span>

                    <div class="post-nav-prev post-nav-item">
                        {% if next_post %}
                        <a href="{% url 'blog:blog-detail' next_post.slug %}" rel="next" title="{{ next_post.title }}">
                            {{ next_post.title }} <i class="fa fa-chevron-right"></i>
                        </a>
                        {% else %}
                        <a href="#"><span>哼！我也是有底线的</span></a>
                        {% endif %}
                    </div>
                </div>
            </footer>
            </article>
        </div>

        <div class="post-spread"></div>
    </div>
</div>

<div class="content-wrap-comment">
    <div id="comment"></div>
    {% if blog.allow_comments %}
    <form class="comment-form" id="jsStayForm">
      <div class="form-group">
        <label class="name">名字:  </label>
        <input name="name" type="text" class="form-name" id="js-name" placeholder="不超过20个字">

      </div>
      <div class="form-group">
        <label class="comment">评论:</label>
        <textarea name="content" class="form-control" id="js-content" rows="5" placeholder="不超过300个字"></textarea>

      </div>
        <input name="blog" type="hidden" id="js-name" value="{{ blog.id }}">
        <p class="error company-tips" id="jsCompanyTips"></p>

        <button class="btn" type="button" id="jsStayBtn" value="发表">发表</button>
    </form>

    <div class="#">
    <ul class="comment-list">

        {% for comment in all_comment %}
            <li class="comment-item">
            <hr class="the-line"  />
                <span class="nickname">{{ comment.name }} - </span>
                <time class="submit-date"
                      datetime="{{ comment.create_time }}">{{ comment.create_time|date:"Y/m/d   h:m" }}</time>
                <p class="floor">{{ forloop.counter }} #  </p>
                <div style="word-wrap: break-word">
                        {{ comment.content }}
                </div>

            </li>
        {% empty %}
            暂无评论
        {% endfor %}

    </ul>
    </div>
{% else %}
   评论关闭
{% endif %}
</div>
{% endblock %}


{% block content_js %}
<script>
    $(function(){
        $('#jsStayBtn').on('click', function(){

            $.ajax({
                cache: false,
                type: "POST",
                url:"/add_comment/",
                data:$('#jsStayForm').serialize(),
                dateType:"json",
                async: true,
                beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
                success: function(data) {
                    if(data.status == 'success'){
                        alert("提交成功");
                         window.location.reload();//刷新当前页面.
                    }else if(data.status == 'fail'){

                        alert("评论错误，请重新评论");
                    }
                },
            });
        });
    })

$(document).ready(function () {
    var stickyNavTop = $('.sidebar-inner').offset().top;  //获取nav距离顶部的距离

    var stickyNav = function () {
        var scrollTop = $(window).scrollTop();  //获取滚动的距离

        if (scrollTop > stickyNavTop) {        //判断当滚动距离大于nav距离顶部的时候添加sticky类,负责删除sticky类
            $('.sidebar-inner').addClass('sticky');
        } else {
            $('.sidebar-inner').removeClass('sticky');
        }
    };

    stickyNav();

    $(window).scroll(function () {
        stickyNav();
    });
});
</script>
{% endblock %}