{% extends "layout/base.html" %}
{% block title %}
| 首页
{% endblock %}

{% block content %}

<div id="main" class="content">
    <div class="container">
        <article itemscope="itemscope">
            <div class="posts-list js-posts">
                {% for post in posts %}
                    {% include './layout/l_post.html' %}
                {% empty %}
                    <div class="post no-post">暂时还没有发布的文章！</div>
                {% endfor %}
            </div>
            {% block pagination %}
            {% include './layout/pagination.html' %}
            {% endblock %}
        </article>
    </div>
</div>

{% endblock %}