{% extends "layout/base.html" %}
{% load custom_markdown %}

{% block title %}
| 搜索
{% endblock %}

{% block content %}
<div id="main" class="content">
    <div class="container">
        <section class="post_content">
            <header class="post_header">
                <h1 class="post_title">搜索 <span>"{{request.GET.q}}"</span></h1>
            </header>
            <div class="posts-list js-posts">
                {% for post in page.object_list %}
                <div class="post post-layout-list" data-aos="fade-up">
                    <div class="postnormal review">
                        <div class="search_post">
                            <h3>{{ forloop.counter }}、
                                <a href="{{ post.object.get_absolute_url }}" class="search_title">
                                    {{post.object.title}}
                                </a>
                            </h3>
                            <div class="entry-content">
                                {{post.object.content|custom_markdown_summary}}
                            </div>
                            {% if forloop.counter == page.object_list|length %}
                            {% else %}
                            <hr>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="no-post">没有搜索到相关内容，请重新搜</div>
                {% endfor %}
            </div>
            {% block pagination %}
            {% include 'layout/pagination.html' %}
            {% endblock %}
            </article>
        </section>
    </div>
</div>
{% endblock %}